<footer class="container" style="margin-top:100px;">
  <p class="text-center">CopyRight 2017 civipush
    <br>Design by
    <a href="https://github.com/shanfeng094" target="_new">shanfeng094</a>
  </p>
</footer>
